#about {
    background-color: var(--main-black);
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container {
    color: var(--main-white);
    width: 1200px;
    height: 450px;
    display: flex;
    align-items: center;
    padding: 70px;
    border: 1px solid var(--main-white);
    background-color: rgba(90, 90, 90, 0.249);
}

.about-box {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 50px;
    width: 700px;
}

.about-title {
    font-size: 65px;
    width: 400px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: justify;
}

.about-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-buttons button {
    height: 60px;
    width: 200px;
    font-size: 23px;
    background: none;
    border: 1px solid var(--main-white);
    color: var(--main-white);
    cursor: pointer;
    transition: 0.6s;
    border-radius: 80px;
    background-color: rgba(100, 100, 100, 0.261);
}

.about-buttons button:hover {
    letter-spacing: 3px;
}

.about-linkedin:hover {
    background-color: rgb(0, 132, 255);
}

.about-github:hover {
    background-color: rgba(0, 0, 0, 0.579);
}