#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
    font-size: 22px;
    font-weight: 500;
    color: var(--main-black);
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background-color: var(--main-white);
    border-bottom: 1px solid rgba(82, 82, 82, 0.142);
}

.themes {
    width: 200px;
    height: 100%;
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.themes-button {
    height: 35px;
    width: 80px;
    border: 1px solid var(--main-black);
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-shadow: inset 2px 2px 5px rgba(144, 144, 144, 0.512),
                inset -2px -2px 5px rgba(144, 144, 144, 0.512);
    cursor: pointer;    
    background-color: var(--main-white);
}

.themes-ball {
    height: 80%;
    width: 36%;
    border: 1px solid var(--main-black);
    border-radius: 50%;
    margin-left: 2px;
}

.header-infos {
    list-style: none;
    display: flex;
    width: 700px;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin-right: 250px;
}

.header-infos li {
    cursor: pointer;
    transition: 0.15s;
}

.header-infos li:hover {
    color: var(--main-blue);
}

