#home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.themes-button {
    transition: 0.4s;
}

.presentation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.presentation-name {
    font-size: 90px;
    font-weight: bold;
}

.presentation-info {
    font-size: 40px;
}

.presentation-info span {
    font-weight: 500;
}

.skills {
    margin-top: 20px;
    display: flex;
    gap: 70px;
}

.skills div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills p {
    position: absolute;
    font-size: 22px;
    margin-top: 75px;
    height: 50px;
    background-color: rgba(87, 87, 87, 0.535);
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    display: none;
    color: var(--main-white);
    font-weight: 500;
}

.skills img {
    width: 35px;
    transition: 0.3s;
    position: absolute;
}

.skills img:hover {
    width: 50px;
}

@media (max-width: 1650px) {
    .presentation-name {
        font-size: 83px
    }

    .presentation-info {
        font-size: 37px;
    }

    .skills {
        gap: 65px;
    }

    .skills img {
        width: 32px;
    }
}