#projects {
    padding-bottom: 150px;
}

.projects-title {
    padding-top: 120px;
    margin-left: 60px;
    margin-bottom: 140px;
    font-size: 55px;
}

.projects-box {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 190px;
}

.project-container {
    width: 1500px;
    display: flex;
    gap: 100px;
    padding: 20px;
}

#inverso {
    flex-direction: row-reverse;
}

#inverso .project-image{
    box-shadow: 25px -25px 0px rgb(198, 198, 198);
}

#inverso .project-buttons {
    flex-direction: row-reverse;
}

.project-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project-text h2 {
    font-size: 45px;
}

.project-text p {
    text-align: justify;
    font-size: 22px;
}

.project-image {
    width: 600px;
    transition: 0.6s;
    box-shadow: -25px -25px 0px rgb(198, 198, 198);
}

.project-image:hover {
    width: 700px;
}

.project-buttons {
    display: flex;
    align-items: center;
    gap: 30px;  
    margin-top: 40px;
}

.view-project-button {
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;
    font-weight: 500;
    color: var(--main-white);
}

#todoBtn {
    background: linear-gradient(to right, rgb(119, 246, 119), rgb(246, 96, 96));
}

#myStoreBtn {
    background-color: var(--main-red);
}

.view-project-button:hover {
    box-shadow: 5px 5px 5px rgba(73, 73, 73, 0.587);
}

.github-project-button {
    width: 35px;
    cursor: pointer;
    transition: 0.3s;
}

.github-project-button:hover {
    width: 40px;
}

.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.news-container a {
    text-decoration: none;
}

.projects-box h3 {
    font-size: 30px;
    font-style: italic;
}

.projects-box h4 {
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    color: rgb(74, 74, 74);
}

.projects-box h4:hover {
    color: var(--main-red);
}

@media (max-width: 1650px) {
    .projects-title {
        font-size: 50px;
    }

    .project-container {
        width: 1300px;
        display: flex;
        gap: 70px;
        padding: 20px;
    }

    .project-image {
        width: 600px;
    }

    .project-text h2 {
        font-size: 45px;
    }
    
    .project-text p {
        text-align: justify;
        font-size: 22px;
    }
}

@media (max-width: 1400px) {
    .project-container {
        width: 800px;
        flex-direction: column;
        align-items: center;
    }

    .project-text {
        align-items: center;
    }

    #inverso {
        flex-direction: column;
    }

    #inverso .project-image{
        box-shadow: -25px -25px 0px rgb(198, 198, 198);
    }
    
    #inverso .project-buttons {
        flex-direction: row;
    }
}